<header class="main-header">
    <!-- Logo -->
    <a [routerLink]="['/']" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>H</b>DK</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Help</b>DESK</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <p style="color:aliceblue"> {{shared.user.email}} - {{shared.user.profile}} <button class="btn btn-link" (click)="signOut()"><font style="color: white;" >Sign out</font></button></p>
      </div>
    </nav>
  </header>