<div class="col-md-6" style="margin-left: 0%">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">New Ticket</h3>
        </div>
        <form class="form-horizontal" #form='ngForm' (ngSubmit)="register()">
            <div [ngClass]="classCss" role="alert" *ngIf="message">
                <strong>{{message.text}}</strong>
            </div>
            <div class="box-body">

                <div [ngClass]="getFromGroupClass(title.invalid, title.dirty)">
                    <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" [(ngModel)]="ticket.title" class="form-control" name="title" id="inputTitle"
                            #title="ngModel" placeholder="Title" required>

                        <span class="help-block" *ngIf="title.invalid && title.dirty"> Title is required</span>
                    </div>
                </div>

                <div [ngClass]="getFromGroupClass(priority.invalid, priority.dirty)">
                    <label for="inputPriority" class="col-sm-2 control-label">Priority</label>
                    <div class="col-sm-10">
                        <select [(ngModel)]="ticket.priority" class="form-control select2" id="inputPriority"
                            name="priority" #priority="ngModel" placeholder="Priority" required>
                            <option>High</option>
                            <option>Normal</option>
                            <option>Low</option>
                        </select>

                        <span class="help-block" *ngIf="priority.invalid && priority.dirty"> Priority is required</span>
                    </div>
                </div>

                <div [ngClass]="getFromGroupClass(description.invalid, description.dirty)">
                    <label for="inputDescription" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <textarea type="text" [(ngModel)]="ticket.description" class="form-control"
                            name="description" id="inputDescription" #description="ngModel" rows="3"
                            placeholder="Description..." required></textarea>

                        <span class="help-block" *ngIf="description.invalid && description.dirty"> Description is required</span>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputImage" class="col-sm-2 control-label">Image</label>
                <div class="col-sm-10">
                    <img [src]="ticket.image" width="50%" height="50%">
                    <input type="file" id="inputImage" (change)="onFileChange($event)">
                </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-info pull-right" [disabled]="!form.valid">Submit</button>
            </div>
          </form>
        </div>
    </div>
        